.container {
    padding: 0 8px;
}
.user-container {
    text-align: center;
}
.avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
.card-container {
    background-color: #eeeeee;
}
